@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');
body{
    font-family: 'Cinzel', serif;
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    font-weight:400;
    margin:0px;


}
#lint  a{
   display: flex;
   float: right;
   padding: 20px ;
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-size: 1.2em;
}
#lint a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(240, 210, 15) ;
    text-underline-offset: 9px;
}


/*======================Landing Page=================================*/

.main  {
   
    color:rgb(235, 235, 235);
    justify-content: left;
    font-weight: 400px;
    font-size: 30px;
     height: 80vh;
    padding: 140px 40px 0px 80px;
margin: 0px;
}
.second{
    display: flex;
    color:rgb(245, 245, 245);
    justify-content: flex-start;
    margin:0px;
}

.second:hover{
    text-decoration: underline;
    text-decoration-color: rgb(240, 210, 15) ;
    text-underline-offset: 9px;
}


/*======================Scroll btn=================================*/

.btn {
    width: 30px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    position: relative;
    margin-left: 50%;
    margin-top: 5%;
  }
  .btn:hover{
    outline: 2px solid rgb(240, 210, 15);
  }
  
  .scroll {
    width: 5px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(105, 127, 255);
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    animation: scroll_4013 2s linear infinite;
    transform: translateY(40%);
  }
  
  .btn:after {
    

    
    position: absolute;
    top: 140%;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  @keyframes scroll_4013 {
    0% {
      transform: translateY(40%);
    }
  
    50% {
      transform: translateY(90%);
    }
  }

.and{
    font-size: 160px;
    color:rgb(240, 210, 15) ;
}


/*======================socials on the side=================================*/



.socials{
    width: 100px;
    height: 300px;
    background-color: rgb(240, 210, 15);
    border-radius: 30px 0 0 30px;
    position:absolute;
    right: 0;
    top: 33vh;
}
.social {
  width: 100%;
  height: 30%;
}





/*======================Projects=================================*/




.card1{
  display: grid;
  grid-template-columns: 1fr; 
  max-width: 280px;
  background-color: #4d4c4e;
  padding: 1.5rem;
  margin: 1rem 1rem;
  box-shadow: 0 1.4rem 3rem rgba(0,0,0,0.2);
  border-radius: 0.8rem;
}

.projects-img{
  position:relative;
  min-width: 100%;
  max-width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}
.projects-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius:0.8rem;
}
.projects-img::before{
  content: "";
  position: absolute;
  inset: 3px;
  background: linear-gradient(to right, #141e30, #243b55);
  box-shadow: 0.5rem 0.5rem 2rem 1px;
  border-radius: 0.8rem;
  opacity:0.5;
}

.projects-title{
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin:-1rem 0rem 0rem 0rem;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
}

.paragraph{
  margin-bottom: 2rem;
  color: rgb(245, 245, 245);
  font-size: smaller;
}

.projects-cta{
  margin: 4px;
  display: block;
  
  background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
  padding: 1rem 0rem 0.8rem 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
  border-radius: 0.4rem;
  font-size: smaller;
}
.projects-cta:hover{
  box-shadow: 0px 0px 5px rgb(105, 127, 255);
}








  /*======================footer=================================*/

  footer {
    display: flex;
    justify-content:flex-end;
    background-color: #353333;
    color: #ded9d9;
    padding: 20px 0;
    border-radius: 20px;
  }

  .container {
    max-width: 700px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .label:hover{
    outline: 2px solid rgb(240, 210, 15);
  }
  
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .form-control:focus {
    outline: none;
    border-bottom-color: #ffc107;
  }
  
  textarea.form-control {
    height: 150px;
  }
  
  .btn-primary {
    background-color: #ffc107;
    border: none;
    border-radius: 20px;
    color: #232323;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #232323;
    color: #ffc107;
     
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
  }
  
  .list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .list-unstyled li {
    margin-bottom: 10px;
  }
  
  .list-unstyled li a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .list-unstyled li a:hover {
    color: #ffc107;
  }

/*====================media query=============*/


  @media only screen and (min-width: 375px){
    .card1 {
     max-width: 375px;
      align-items: center;
    }
    
    .projects-img {
      min-width:6rem;
      
      transform:translateX(0rem);
      height:8rem
    }
    
    .projects-title{
      display: flex;

      justify-content: center;
      margin-left: 30px;
      padding: 0px;
     
    }
    .paragraph {
      margin: 0px;
      grid-column: 1;
    }
    
    .projects-cta {
      grid-column: 3;
    }
  }




  @media only screen and (min-width: 625px) {
    .card1 {
      flex-direction: column;
      text-align:center;
      max-width:625px;
     
    }
    
    .projects-img {
      min-width:30rem;
      
      transform:translateX(-0.0rem);
      height: 18rem;
    }
    
    .projects-title{
      display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
    .paragraph {
      margin: 10px 5px 0px 0px;
     
    }
    
    .buttons {
      display: flex;
      justify-content: center;
    }
  }


  
  @media only screen and (min-width: 810px) {
    .card1  {
      max-width:810px;
      flex-direction: column;
      text-align:center;
     
    }
    
    .projects-img {
      min-width:40rem;
      
      transform:translateX(0rem);
      height: 23rem;
    }
    
    .projects-title{
      display: flex;
    justify-content: center;
    margin: 10px 40px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
    .paragraph {
      margin: 10px 5px 0px 0px;
     
    }
    
    .buttons {
      display: flex;
      margin:20px;
      justify-content: center;
    }
    .projects-cta{
      margin: 16px;
    }
  }
@media only screen and (min-width:1000px){
  .card1{
    display: grid;
    grid-template-columns: auto auto auto  auto  ; 
    align-items: center;
    max-width:90rem;
   
    background-color: #4d4c4e;
    padding: 3rem;
    margin: 1.5rem;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    border-radius: 0.8rem;
  
  }
  
  
  .projects-img{
    position:relative;
    min-width: 35rem;
    max-width:35rem;
    height:20rem;
    transform:translateX(-5rem);
  }
  .projects-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius:0.8rem;
  }
  .projects-img::before{
    content: "";
    position: absolute;
    inset: 3px;
    background: linear-gradient(to right, #141e30, #243b55);
    box-shadow: 0.5rem 0.5rem 4rem 1px;
  
    border-radius: 0.8rem;
    opacity:0.5;
  }
  
  .projects-title{
    grid-column: 2; 
    grid-column-end: span 3;
  display: flex;
 
    font-size: 3rem;
    margin:-6rem 0rem 1rem -4rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245)
  }
  
  
   .paragraph{
    grid-column: 2; 
    grid-column-end: span 3;
    margin:-9rem 2rem 1rem 1rem;
    color: rgb(245, 245, 245);
    font-size:larger;
  }
  
 

  .projects-cta{
    
    margin: 0rem 5rem 0rem -3rem ;
    grid-column: 2;
    background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
    padding: 1rem 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    border-radius:  0.4rem;
  
  }
  .projects-cta:hover{
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
  }
}





@media only screen and (max-width: 812px) {
    .socials {
        display: none;
    }
    .btn{
      display: none;
    }
    }
    
    
  
   @media screen and (max-width: 767px) and (orientation: portrait){
  
    font-size: calc((1.6 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
}