@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');
body{
    font-family: 'Cinzel', serif;
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    font-weight:400
    

}
#lint  a{
   display: flex;
   float: right;
   padding: 20px ;
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-size: 1.2em;
}
#lint a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(240, 210, 15) ;
    text-underline-offset: 9px;
}


/*======================Landing Page=================================*/

.main {
    
    color:rgb(235, 235, 235);
    justify-content: left;
    font-weight: 400px;
    font-size: 30px;
     height: 80vh;
    padding: 140px 40px 70px 80px;

}
.second{
    display: flex;
    color:rgb(245, 245, 245);
    justify-content: flex-start;
    margin-bottom: 1%;
}

.second:hover{
    text-decoration: underline;
    text-decoration-color: rgb(240, 210, 15) ;
    text-underline-offset: 9px;
}


/*======================Scroll btn=================================*/

.btn {
    width: 30px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    position: relative;
    margin-left: 50%;
    margin-top: 5%;
  }
  .btn:hover{
    outline: 2px solid rgb(240, 210, 15);
  }
  
  .scroll {
    width: 5px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(105, 127, 255);
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
    animation: scroll_4013 2s linear infinite;
    transform: translateY(40%);
  }
  
  .btn:after {
    

    
    position: absolute;
    top: 140%;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  @keyframes scroll_4013 {
    0% {
      transform: translateY(40%);
    }
  
    50% {
      transform: translateY(90%);
    }
  }

.and{
    font-size: 160px;
    color:rgb(240, 210, 15) ;
}


/*======================socials on the side=================================*/



.socials{
    width: 100px;
    height: 300px;
    background-color: rgb(240, 210, 15);
    border-radius: 30px 0 0 30px;
    position:absolute;
    right: 0;
    top: 40vh;
}




/*======================Projects=================================*/




.card1{
 display: flex;
 
 justify-content: space-between;
 align-items: center;
  max-width: 90rem;
  background-color: #4d4c4e;
  padding:2.5rem;
 margin: 1.5rem;
  box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
  border-radius: 0.8rem;

}


.projects-img{
  position:relative;
  min-width:35rem;
  max-width:35rem;
  height:16rem;
  transform:translateX(-8rem);
}
.projects-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius:0.8rem;
}
.projects-img::before{
  content: "";
  position: absolute;
  inset:3px;
  background: linear-gradient(to right, #141e30, #243b55);
  box-shadow: 0.5rem 0.5rem 3rem 1px;

  border-radius: 0.8rem;
  opacity:0.5;
}













.projects-title{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin:-8rem 0 0.5rem;
  
  text-transform: uppercase;
  color: rgb(245, 245, 245);
}


 .paragraph{
  margin-bottom:3rem;
  color: rgb(245, 245, 245);
}







.projects-cta{
  display:flex;
  margin: 10px;
  background-image: linear-gradient(to right,#4facfe 0%,#00f2fe 100%);
  padding: 0.2rem 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #171717;
  border-radius:  0.4rem;

}
.projects-cta:hover{
  background-image: linear-gradient(to right,#4facfe 0%,#00f2fe 100%)
}



/*======================Project2,4=================================*/




.card2  {
  display: flex;
 
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  background-color: #4d4c4e;
  padding:2.5rem;
 margin: 1.5rem;
  box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
  border-radius: 0.8rem;

}

.project2-img{
  position:relative;
  min-width:35rem;
  max-width:35rem;
  height:16rem;
  transform:translateX(8rem);
}
.project2-img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius:0.8rem;
}
.project2-img::before{
  content: "";
  position: absolute;
  inset: 3px;
  background: linear-gradient(to right, #141e30, #243b55);
  box-shadow: 0.5rem 0.5rem 3rem 1px;

  border-radius: 0.8rem;
  opacity:0.5;
}
.project2-title{
  font-size: 1.5rem;
  margin:0.5rem 0 0.5rem;
  text-transform: uppercase;
  color: rgb(245, 245, 245);
}
.project2-title .paragraph{
  margin-bottom: 1.5rem;
  color: rgb(245, 245, 245);
}
.project2-cta{
  display:block;
  background-image: linear-gradient(to right, #283048, #859398);;
  padding: 0.2rem 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border-radius:  0.8rem;

}
.project2-cta:hover{
  background-image: linear-gradient(to right,#4facfe 0%,#00f2fe 100%)
}

/*
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
  }
  
  .card {
    flex-basis: calc(90%-40);
    margin: 0 20px 20px;
    background-image:url("https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-color: transparent;
    box-shadow: 10px;
    border-radius: 40px;
    display: flex;
  }
  
  .description {
    flex: 100;
    padding: 40px;
    color: #fff;
  }
  
  .description h2 {
    font-size: 24px;
    margin-bottom: 40px ;
  }
  
  .description p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .button {
    color: #fff;
    background-color: #101113;
    border-radius: 30px;
  }
*/

/*#ded9d9*/


  /*======================footer=================================*/

  footer {
    display: flex;
    justify-content:flex-end;
    background-color: #353333;
    color: #ded9d9;
    padding: 20px 0;
    border-radius: 20px;
  }

  .container {
    max-width: 700px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .label:hover{
    outline: 2px solid rgb(240, 210, 15);
  }
  
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .form-control:focus {
    outline: none;
    border-bottom-color: #ffc107;
  }
  
  textarea.form-control {
    height: 150px;
  }
  
  .btn-primary {
    background-color: #ffc107;
    border: none;
    border-radius: 20px;
    color: #232323;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #232323;
    color: #ffc107;
     
    box-shadow: 0px 0px 10px rgb(105, 127, 255);
  }
  
  .list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .list-unstyled li {
    margin-bottom: 10px;
  }
  
  .list-unstyled li a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .list-unstyled li a:hover {
    color: #ffc107;
  }

 
  
@media only screen and (max-width: 600px) {
    .socials {
        display: none;
    }
    }
    
    .social {
        width: 100%;
        height: 26%;
    }
    .writing{
        font-family: 'Cinzel', serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
        color: aliceblue;
        margin-top: 27vh;


    }
    .paragraph{
        display: flex;
        color: aliceblue;
        text-align: center;
    }
   .about{
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   }
   @media screen and (max-width: 767px) and (orientation: portrait)
 {
    font-size: calc((1.6 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
}